<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header>
        <nav class="loc-nav-bar">
            <div class="loc-logo">
                <a href="/"><img src="~/Images/LogoProdLoc.png" width="200" /></a>
            </div>
            <div class="loc-nav-left">
                <ul class="loc-nav-ul">
                    <li><a href="/"><img src="~/Images/LogoProdLoc.png" width="200" /></a></li>
                    <li><a href="/Products/Products">Produse</a></li>
                    <li><a href="#">Informatii generale</a></li>
                    <li><a href="/Home/Contact">Contact</a></li>
                </ul>
            </div>
            <div class="loc-nav-right">
                @if (Session["LocalProducerAppUserId"] != null)
                {
                    <a href="/Messages/Messages" class="loc-button-orange" data-title="Mesajele mele">
                        <b class="loc-button-icon">&#9993;</b>
                    </a>

                    <a href="/Users/MyAccount" class="loc-button-orange" data-title="Contul meu">
                        <b class="loc-button-icon" style="font-size: 22px; padding: 0px; text-align:center;">
                            &#9786;
                        </b>
                    </a>

                    <a href="/Users/Logout" class="loc-button-orange" data-title="Deconectare" id="logoutUser">
                        <b class="loc-button-icon" style="font-size: 22px; padding: 0px; text-align:center;">
                            &#10149;
                        </b>
                    </a>
                    <a href="/Products/AddProduct" class="loc-button-orange" data-title="Adauga un anunt nou">
                        &#10010;<span class="loc-text-botton "> Adauga anunt</span>
                    </a>
                }
                else
                {
                    <a href="#" class="loc-button-orange" onclick="document.getElementById('id01').style.display='block'" data-title="Intra in cont">
                        <b class="loc-button-icon" style="font-size: 22px; padding: 0px; text-align:center;">
                            &#10148;
                        </b>
                    </a>
                }

                <a onclick="showMenu();" class="loc-hidden-bars-menu">
                    <i class="fas fa-bars" style="font-size: 24px;"></i>
                </a>
            </div>
        </nav>
        <div class="loc-show-hidden-menu" id="loc-show-hidden-menu">
            <ul class="loc-hidden-nav-ul">
                <li><a href="/">Acasa</a></li>
                <li><a href="/Products/Products">Produse</a></li>
                <li><a href="#">Informatii generale</a></li>
                <li><a href="/Home/Contact">Contact</a></li>
            </ul>
        </div>
    </header>

    <div id="id01" style="z-index: 99999999;" class="w3-modal">
        <div class="w3-modal-content">
            <div class="loc-left-login">
                <center><p class="loc-title-login">Autentificare</p></center>
                <center><p>Completati campurile urmatoare pentru a va loga in aplicatie.</p></center>
                <form method="GET" action="/Users/Login">
                    <label class="loc-label-login" for="Email">Email</label><br />
                    <input type="text" class="loc-login-input" name="Email" id="Email" placeholder="Email..." /><br />

                    <label class="loc-label-login" for="Parola">Parola</label><br />
                    <input type="password" class="loc-login-input" name="Parola" id="Parola" placeholder="Parola..." />

                    <input type="submit" class="loc-submit-login" value="Intra in cont" />
                </form>
            </div>
            <div class="loc-right-login">
                <span onclick="document.getElementById('id01').style.display='none'"
                      class="w3-button w3-display-topright">&times;</span>
                <p class="loc-title-login">Inregistrare</p>
                <p>Daca nu aveti un cont deja creat, atunci va puteti crea unul nou apasand pe butonul de mai jos</p>
                <a href="/Users/Register" class="loc-submit-login">Creati un cont</a>
            </div>
        </div>
    </div>

    @RenderBody()

    <footer class="loc-footer">
        <div class="loc-footer-col">
            <span class="loc-footer-col-title">Meniu</span><br />
            <a href="#">&#10036; Home</a><br />
            <a href="#">&#10036; Categorii</a><br />
            <a href="#">&#10036; Subcategorii</a><br />
            <a href="#">&#10036; Informatii adiționale</a><br />
            <a href="#">&#10036; Termeni si condiții</a><br />
            <a href="#">&#10036; Contact</a><br />

        </div>
        <div class="loc-footer-col">
            <span class="loc-footer-col-title">Munca noastră</span><br />
            <a href="#">&#10036; Branding</a><br />
            <a href="#">&#10036; Business</a><br />
            <a href="#">&#10036; Marketing</a><br />
            <a href="#">&#10036; Social Media</a><br />
            <a href="#">&#10036; Digital Solution</a><br />
            <a href="#">&#10036; Graphic</a><br />
        </div>
        <div class="loc-footer-col">
            <span class="loc-footer-col-title">Contactează-ne</span><br /><br />
            <p><b>&#9743;</b> 0785432185</p>
            <p><b>&#9993;</b> contact@producatorilocali.ro</p>
        </div>
    </footer>

    <script>
        var isShowed = false;
        function showMenu() {
            if (!isShowed) {
                document.getElementById("loc-show-hidden-menu").style.display = "block";
                isShowed = true;
            } else {
                document.getElementById("loc-show-hidden-menu").style.display = "none";
                isShowed = false;
            }

        }

        /*$("#logoutUser").click(function () {
            $.ajax({
                url: "",
                async: false,
                success: function (result) {
                    location.reload();
                }
            });
        });*/

    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
