@model ProducatoriLocali.Models.Product
@{
    ViewBag.Title = "Adauga un produs nou - ProducatoriLocali.Ro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="loc-form-title">Adauga un nou produs</div>
<div class="loc-product-form">

    <form method="post" action="/Products/AddProduct">
        <fieldset style="border: none;">
            <label for="Title">Titlul articolului</label>
            <input class="loc-input-form" type="text" id="Title" name="Title" required="required" placeholder="Titlul trebuie sa fie unul descriptiv ..." />

            <label for="Quantity">Cantitate</label>
            <input class="loc-input-form" type="text" id="Quantity" name="Quantity" required="required" placeholder="Cantitatea fiecarui produs..." />

            <label for="UnitsNumber">Numarul de unitati</label>
            <input class="loc-input-form" type="number" id="UnitsNumber" name="UnitsNumber" required="required" placeholder="Numarul de unitati ..." />

            <label for="Price">Pret</label>
            <input class="loc-input-form" type="number" id="Price" name="Price" required="required" placeholder="Pret ..." />

            @Html.LabelFor(x => x.Category)
            @Html.DropDownList("Category",
               EnumHelper.GetSelectList(typeof(ProducatoriLocali.Models.Category)),
               "Selecteaza categoria",
               new { @class = "loc-input-form", @id = "Category", @name="Category" })

            @Html.LabelFor(x => x.SubCategory)
            @Html.DropDownList("SubCategory",
               EnumHelper.GetSelectList(typeof(ProducatoriLocali.Models.SubCategory)),
               "Selecteaza subcategia",
               new { @class = "loc-input-form", @id = "SubCategory", @name="SubCategory" })

            <label for="Locality">Judetul</label>
            <select class="loc-input-form" id="Locality" name="Locality">
                <option value="" selected="selected">Alegeti judetul</option>
                <option value="Suceava">Suceava</option>
                <option value="Botosani">Botosani</option>
                <option value="Neamt">Neamt</option>
                <option value="Iasi">Iasi</option>
                <option value="Bacau">Bacau</option>
                <option value="Vaslui">Vaslui</option>
                <option value="Vrancea">Vrancea</option>
                <option value="Galati">Galati</option>
            </select>

            <label for="ImagePath">Incarcati imaginea</label>
            <input type="file" id="ImagePath" name="ImagePath"><br />

            <label for="Description">Descrierea produsului</label>
            <textarea id="Description" class="loc-textarea-form" name="Description" placeholder="Descrierea detaliata a prodului ..."></textarea>

            <a href="/" class="loc-back-button">Inapoi la pagina principala</a>
            <input type="submit" class="loc-submit-form" value="Adauga produsul" />
        </fieldset>
    </form>
</div>

<script>
    
</script>

@if (ViewBag.Message != null)
{
    <div id="snackbar-ok">@ViewBag.Message</div>
    <script>myFunction();</script>
}
